<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" href="../styles/styles.css">
        <link rel="stylesheet" type="text/css" href="../styles/cart.css">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" defer></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" defer></script>
        <script src="../scripts/card.js" async></script>


        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
        <title>Orinoco - Mon panier</title>
    </head>
    <body>
        <header class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-2 header justify-content-center">
                <img src="../images/logo-orinoco.png" alt="Logo de Orinoco" />
                <h1>Orinoco</h1>
            </div>
        </header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Articles disponibles<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/templates/cart.html">Mon panier</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="container">
            <section id="card-content">
                <h2>Votre panier</h2>
                <div id="nbElement"></div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Désignation</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody id="content-list">

                    </tbody>
                </table>
            </section>
            <section id="form-content">
                <h2>Formulaire de validation de votre commande</h2>
                <form action="http://localhost:3000/api/cameras/order" method="post">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="familyname">Nom</label>
                            <input type="text" id="familyname" name="familyname" class="form-control" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="firstname">Prénom</label>
                            <input type="text" id="firstname" name="firstname" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="adress">Adresse postale</label>
                            <input type="text" id="adress" name="adress" class="form-control" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="city">Ville</label>
                            <input type="text" id="city" name="city" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mail">Adresse e-mail</label>
                        <input type="email" id="mail" name="email" class="form-control" required>
                    </div>
                    <input type="submit" id="submit" value="Soumettre" class="btn btn-light"/>
                </form>
            </section>
        </main>
        <footer class="row">
            <div class="col-lg-12 footer">
                <img src="../images/OC-logo.png" alt="Logo d'OpenClassrooms" />
                <p>Projet 5 - Orinoco</p>
            </div>
        </footer>
    </body>
</html>