<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../styles/styles.css">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" defer></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" defer></script>
        <script src="../scripts/card.js" async></script>


        <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
        <title>Orinoco - Mon panier</title>
    </head>
    <body>
        <header class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-2 header justify-content-center">
                <img src="../images/logo-orinoco.png" alt="Logo de Orinoco" />
                <h1>Orinoco</h1>
            </div>
        </header>
        <div class="row">
            <nav class="navbar navbar-expand-sm navbar-light bg-light col-lg-12">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div>
                    <img src="../images/favicon.png" alt="Le panier de produits" /><span class="cart">0</span>
                </div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Articles disponibles<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/templates/cart.html">Mon panier <img src="../images/favicon.png" alt="Le panier de produits" /><span class="cart">0</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <main class="main container">
            <section id="card-content">
                <h2>Votre panier</h2>
                <div id="nbElement"></div>
                <table class="table table-striped">
                    <thead id="headCart">

                    </thead>
                    <tbody id="contentCart">

                    </tbody>
                </table> 
            </section>
            <section id="form-content">
                <h2>Formulaire de validation de votre commande</h2>
                <form id="myForm">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="familyname">Nom *</label>
                            <input type="text" id="familyname" name="lastName" class="form-control" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="firstname">Prénom *</label>
                            <input type="text" id="firstname" name="firstName" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="adress">Adresse postale *</label>
                            <input type="text" id="adress" name="address" class="form-control" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="city">Ville *</label>
                            <input type="text" id="city" name="city" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mail">Adresse e-mail *</label>
                        <input type="email" id="mail" name="email" class="form-control" required>
                    </div>
                    <input type="submit" id="submit" value="Soumettre" class="btn btn-light"/>
                </form>
            </section>
        </main>
        <footer class="row">
            <div class="col-lg-12 footer">
                <img src="../images/OC-logo.png" alt="Logo d'OpenClassrooms" />
                <ul>
                    <li>Projet 5</li>
                    <li>Orinoco</li>
                </ul>
            </div>
        </footer>
    </body>
</html>