#content-list {
    text-align: center;
    overflow: hidden;
}

.table {
    overflow: hidden;
}

#content-list img{
    max-width: 200px;
    height: auto;
}

#content-list td {
    vertical-align: middle;
}

#content-list tr {
    opacity: 1;
    transition: opacity 0.5s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86), transform 0.5s 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#content-list tr:not(.error):hover {
    opacity: 0.5; 
    transform: scale(1.1,1.05)  ;
    border: 2px solid rgb(184, 176, 184);
}

i.fa-times-circle {
    color: rgb(228, 0, 0);
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

