@font-face {
    font-family: "belligerent-Madness";
    src: url("../fonts/belligerent.ttf");
}
@font-face {
    font-family: "segoeprb";
    src: url("../fonts/segoeprb.ttf");
}

html {
    position: relative;
    min-height: 100%;
}

a, i, #content-list tr > td, #lenses, #quantity, input {
    cursor: pointer;
}

main, nav, footer {
    font-family: segoeprb, Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: rgb(243,233,241);
}

.header, .footer {
    display: flex;
    align-items: center;
    height: 120px;
    padding: 30px;
}

.header img, .footer img {
    width: 100px;
    height: 100px;
}

.header h1 {
    margin-left: 20px;
    font-size: 4em;
    font-family: belligerent-Madness, Arial, Helvetica, sans-serif;
    position: relative;
    top: 10px;
}

.navbar img {
    width: 40px;
    height: 40px;
}

.navbar li:nth-child(1) {
    margin-right: 35px;
    position: relative;
    top: 6px;
}

.cart {
    position: relative;
    right: 23px;
    bottom: 2px;
    color: white;
}

@media screen and (min-width: 576px) {
    .navbar > button + div {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .nav-item:nth-child(2) > .nav-link img,
    .nav-item:nth-child(2) .cart
    {
        display: none;
    }
    .navbar button, .nav-item{
        margin-left: 10px;
    }
}

.main h2 {
    margin: 30px 0;
    text-align: center;
}

main.main {
    padding: 20px 10px;
    margin-bottom: 100px;
    min-width: 360px;
}

footer.row {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer {
    justify-content: space-between;
}

.footer img, .footer ul {
    margin: 0 20px;
}

.footer ul>li {
    list-style-type: none;
}

.footer ul {
    font-size: 1.5em;
}

#loading {
    width: 60px;
    height: 50px;
    margin: auto;
}

#content-list {
    text-align: center;
    overflow: hidden;
}

.table {
    overflow: hidden;
}

#content-list img:not(.loading) {
    max-width: 200px;
    height: auto;
}

#content-list td {
    vertical-align: middle;
}

#content-list .msg {
    background: white;
}

#content-list tr {
    opacity: 1;
    transition: opacity 0.5s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86), transform 0.5s 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#content-list tr:not(.msg):hover {
    opacity: 0.5; 
    transform: scale(1.05,1.05)  ;
    border: 2px solid rgb(184, 176, 184);
}

i.fa-times-circle {
    color: rgb(228, 0, 0);
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

@media screen and (max-width: 500px) {
    #content-list img:not(.loading) {
        max-width: 100px;
    }
    .main {
        font-size: 0.9em;
    }
    .main h2, .main h3:not(.name) {
        font-size: 1.4em;
    }
    #quantity {
        width: 120px;
    }
    #table-price {
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 990px) {
    #desc {
        margin-top: 25px;
    }
}

@media screen and (min-width: 991px) {
    #picture {
        display: flex;
        align-items: center;
        background-color: black;
    }
}

#picture img{
    width: 100%;
    height: auto;
}

.btn {
    margin: 20px 10px;
}

#lenses {
    display: block;
    margin-bottom: 20px;
    width: auto;
    margin: 0 auto 20px auto;
}

.name {
    border: 2px solid black;
    padding: 20px 0;
    text-align: center;
    font-family: belligerent-Madness, Arial, Helvetica, sans-serif;
    font-size: 2.5em;
}

.name+p {
    text-align: center;
}

button>i, a>i {
    margin-right: 10px;
}

#msgLoading  {
    text-align: center;
}

#product+div {
    display:none;
}

i.fa-check-circle {
    font-size: 1.1em;
    color: green;
}

i.fa-times-circle {
    color: red;
}

.error {
    display: block;
    font-size: 0.8em;
    margin-right: 20px;
}

.table td {
    word-wrap: break-word;
    vertical-align: middle;
}

#contact-content tr:nth-child(5) > td:nth-child(2) {
    word-break: break-all;
}

.ref > td, .total > td{
    background-color: black;
    color: white;
}

.ref > td {
    text-align: center;
}

.total > td{
   text-align: right;
}

.displayTotal {
    text-align: left;
}

#order-content img{
    max-width: 200px;
    height: auto;
}

#validation-content h3 {
    font-size: 22px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

tbody.borderTable {
    border: 1px solid black;
}







